@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$text-color:  hsl(237, 18%, 59%);

$timer-text-color: hsl(345, 95%, 68%);
$timer-bg:  hsl(236, 21%, 26%);

$white: white;
$dark-blue: hsl(235, 16%, 14%);
$black-blue: hsl(234, 17%, 12%);
$fs: 0.89rem;
$ff: 'Red Hat Text', sans-serif;
$fw: 700;